	.portlet.light{
		padding: 14px 20px 14px 25px !important;
		margin: 0px 0px 15px !important;
	}
	.horizontal{
		   
			border-top: solid 2px  #eee !important;
			border-bottom: 0;
	}
	.form-actions{
		    padding: 71px 71px 18px 71px
	}
	.btn-sets {
		padding: 241px 197px 18px 197px;
	}
	.portlet.box.blue-hoki > .portlet-title > .caption {
		color: #F3565D;
		
    }
	.portlet.box>.portlet-title>.caption {
		padding: 13px 0 11px 18px !important;
	}
	.portlet.box.blue-hoki > .portlet-title {
		background-color: #FFFFFF;
		padding-left:0;
		padding-right:0;
	}
	.table>tbody>tr>td{
		color: #8c8c8c !important;
		font-size:14px;
		
	}
	.table>thead>tr>th{
		border-bottom: 1px solid #eee;
		color: black;
		font-weight:500;
	}
	.top-caption{
		font-size:15px !important;
	}
	.caption{
			font-size:15px !important;
	}
	.actions img{padding-right: 10px; !important}
	.actions a{
		color:#F36161;
	}
	.portlet.box.blue-hoki{
		border-radius:5%;
	}
	.blue-hoki{
		overflow:hidden !important;
		border-radius: 10px !important;
	}
	.fa {
		padding:3px 10px; font-size: 18px;
	}
	.fa-pencil{
		color:#A6A7A9 !important;
		border-bottom: 1px solid;
		padding: 2px;
	}
	.control-label{
		font-weight:500 !important;
		padding: 0px 0px 0px 42px;
		
	}
	.input-icon{
		padding:5px !important;
	}
	.modal-title{
		font-size:17px;
		text-align:center;
	}
	.modal-content{
		padding: 20px 50px;
	}
	.modal-footer .btn{
		padding :8px 20px !important;
	}
	.modal-header{
		padding:15px;
	}
	.modal-footer{
		padding:15px;
		text-align:center;
	}
	.modal-header{
		border-bottom:0px solid #EFEFEF !important;
	}
	.main-div{
		padding-right:15px !important ;
		padding-left:15px !important ;
	}
	.help-block-error{
		color: #a94442;
	}	
	
	
	.table-str>tbody>tr:nth-child(even){background-color: #f2f2f2;!important}}